<div id="products" class="row" ng-repeat="category in categories| filter: {slug : slug}">
    <div class=" col-md-4  col-xs-12 product" ng-repeat="product in products| filter : {category : category.title}">
        <a href="#/products/{{product.sku}}">
            <img ng-src="{{product.image}}" alt="{{product.title}}" />
            <span class="product-title-wrapper">
                <em class="product-title">{{product.title}} <br><strong class="price">{{product.price| currency}}</strong></em>
            </span>
            <span class="sale"  ng-show="product.isOnSale == 'Yes'">Promoción</span>
        </a>
    </div>
</div>