<div id="thank-you" class="row">
    <div class="col-lg-12 text-center">
        <h1> <strong>Muchas gracias</strong> por tu pedidor</h1>
        <p>Este es tu número de confirmación del pedido. Recuerda que se realiza contraentrega</p>
        <div class="well-cart"><h2>{{order.confirmationNumber}}</h2><br><p>Si pagaste por medio de PayPal, envíanos este número junto con una copia del pago.</p></div>
        <a class="btn btn-lg btn-primary" href="mailto:luisfvargas@gmail.com?subject={{order.confirmationNumber}}">Hazme saber del pedido!</a>
    </div>
</div>
